<header id="header" class="header_section">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Aircute Logo" ></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav nav1 navbar-nav navbar-right">
          <li><a href="#">Adivertiser Protection</a></li>
          <li><a href="#"> Become a member</a></li>
          <li><a href="#"> Help</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="first-load" id="top">
  <div class="container">
      <h1 class="title-heading text-center">Grow your Business Big Quickly</h1>
      <h2 class="title-subheading text-center">Reach the World's largest Audience</h2>

      <div class="search-bar display-table">
      <table class="table">
        <tbody>
          <tr>
            <td id="table-one" class="text-center"> How many do you want to reach?</td>
            <td id="table-two"  class="text-center">
                  <div class="dropdown">
                  <a type="button" data-toggle="dropdown">
                    <span><img src="images/icons/viewers-search.png" ></span><span id="viewsJs">  Million Views </span><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Less than 1 Million</a></li>
                    <li><a href="#">1 Million to 3 Million</a></li>
                    <li><a href="#">More than 3 Million</a></li>
                  </ul>
                </div>  
            </td>
            <td id="table-three" class="text-center">
                <div class="dropdown">
                  <a type="button" data-toggle="dropdown">
                  <span><img src="images/icons/location-search.png" ></span><span id="locationJs"> Location </span><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">America</a></li>
                    <li><a href="#">Asia</a></li>
                    <li><a href="#">Europe</a></li>
                  </ul>
                </div>
            </td>
            <td id="table-four" class="text-center"> <a href="/listing" onclick="homepage()"><img src="images/icons/search.png" ></a></button>
        </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
</section>

<section class="picks" style="margin-top: 10vh;">
  <div class="container">
    <h2 class="text-center" style="font-weight: bold">Quick Pick </h2>
  <ul class="nav nav-tabs custom-nav">
    <li class="active"><a data-toggle="tab" href="#home">Top Media Pick</a></li>
    <li><a data-toggle="tab" href="#menu1">Top Advertiser Pick</a></li>
    <li><a data-toggle="tab" href="#menu2">Top Live Event Pick</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="homepage-lists">
        <div class="row">
          <div class="col-sm-3">
              <img src="/images/listings/coffee-with-karan.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/secrets-and-lies.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/out-daughtered.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/rush-hour.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="picks1" style="margin-top: 10vh;">
  <div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home2">Prime Time</a></li>
    <li><a data-toggle="tab" href="#menu12">Live</a></li>
    <li><a data-toggle="tab" href="#menu22">Features</a></li>
  </ul>

  <div class="tab-content">
    <div id="home1" class="tab-pane fade in active">
      <div class="homepage-lists">
        <div class="row">
          <div class="col-sm-3">
              <img src="/images/listings/outcast-teste-katil.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/rizzoli-isles.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/x-files.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/rush-hour.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="picks1">
  <div class="container">
  <ul class="nav nav-tabs" style="margin-top: 10vh;">
    <li class="active"><a data-toggle="tab" href="#home2">Weekend Pick</a></li>
    <li><a data-toggle="tab" href="#menu12">Fringe Time Pick</a></li>
    <li><a data-toggle="tab" href="#menu22">Sponsored program</a></li>
  </ul>

  <div class="tab-content">
    <div id="home2" class="tab-pane fade in active">
      <div class="homepage-lists">
        <div class="row">
          <div class="col-sm-3">
              <img src="/images/listings/training-day.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/supergirl.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/stalker.jpg">
          </div>

          <div class="col-sm-3">
              <img src="/images/listings/melissa-joey.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
