footer {
	background-color: #000;
	color:#fff;
}

#admin li a {
	text-transform: uppercase;
}

.navbar-default {
	background-color :#3b3737 !important;
	height:15vh;
}

.nav-admin a{
	color:#fff !important;
	font-weight: 300 !important;
	font-size:1.2em;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.nav-admin span {
	color: #c70065;
	font-size:1.2em;
}

.tab-content {
	margin-top:50px;
}

#listing h4{
	color:#a4a6ac;
}